*{
    margin: 10px;
}

img {
    display: block;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: auto;
    color:white;
    max-block-size: 250px;
    

}

body {
    background-color:blacksmoke;
    font-style: fantasy;
    text-size-adjust: 60px;
    
}
h2{
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: auto;
    text-align: center;
    text-decoration-style: solid;
    color:white;
    

}
.form9
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-style: solid;
    background-color:black;
   }
  li {
    float: left;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.li{
    color:black;
    margin: -10px;
}

.FDD{
    display: block;
    position: relative;
    float: left;
    margin-top: auto;
    margin-bottom: 200px;
    Margin-left: 50px;
    Margin-right: 150px;
    color:white;
}
p{
    color:white;
}
.BG{
    display: block;
    size: auto;
    position: fixed;
}