#photo {
    float: left;
    width: 150px;
}

#three {
    text-align: right;
    color: black;
    margin-right: 50px;
    margin-top: 50px;
    font-size: 20px;


}

#steak_house {
    text-align: center;
    margin-top: 15%;
    font-size: 50px;
    font-family: fantasy;
}

#about_restaurant {
    text-align: center;
    font-size: 35px;
    font-family: fantasy;
}

#img1 {
    text-align: left;
    margin-left: 100px;
}

#img2 {
    text-align: center;

}

#img3 {  
    text-align: right;
    margin-right: 100px;
}

#bb {
    background-color: lightgreen;
}
#chef{
    text-align: center;
}