#photo {
    float: left;
    width: 150px;
}

#three {
    text-align: right;
    color: black;

}

#steak_house {
    text-align: center;
    margin-top: 15%;
    font-size: 35px;
    font-family: fantasy;
}

#about_restaurant {
    text-align: center;
    font-size: 20px;
    font-family: fantasy;
}

#img1 {
    float: left;
    margin-left: auto;
}

#img2 {
    float: left;

}

#img3 {  
    float: left;
    margin-right: auto;
}

#bb {
    background-color: blue;
}
