#photo {
    float: left;
    width: 150px;

}

#three {
    text-align: right;
    margin-right: 50px;
    margin-top: 50px;
    font-size: 20px;

}

#steak_house {
    text-align: center;
    margin-top: 15%;
    font-size: 50px;
    font-family: fantasy;
}

#about_restaurant {
    text-align: center;
    font-size: 35px;
    font-family: fantasy;
}

#img1 {
    text-align: left;
    margin-left: 100px;
    font-family: fantasy;
    font-size: 20px;
}

#img2 {
    text-align: center;
    font-family: fantasy;
    font-size: 20px;

}

#img3 {  
    text-align: right;
    margin-right: 100px;
    font-family: fantasy;
    font-size: 20px;
}

#bb {
    background-color: lightgreen;
}

#restaurant {
    text-align: center;
    font-size: 25px;
    font-family: fantasy;
}
#ar {
    font-size: 40px;
}